{% doc %}
  Renders a collection list item

  @param {collection} collection - The collection to display
{% enddoc %}

<section
  class="nx:lg:grid nx:grid-cols-12 nx:lg:gap-10"
  id="{{ section.id }}-{{ collection.handle }}"
  x-intersect:enter="setCurrentCollection('{{ section.id }}-{{ collection.handle }}')"
>
  <header class="mb-8 nx:lg:col-span-4 nx:lg:self-start nx:lg:sticky nx:lg:top-0">
    <h2 class="nx:text-2xl">{{ collection.title }}</h2>
    {% if collection.description %}
      <div class="nx:font-sans nx:mt-4 nx:leading-tight">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>
  <main class="nx:grid nx:grid-cols-2 nx:gap-4 nx:md:grid-cols-3 nx:lg:col-span-8">
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </main>
</section>
